@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 249 117 22;
    --color-secondary: 20 184 166;
    --color-warn: 234 178 8;
    --color-error: 244 63 93;
    --color-info: 59 131 246;
    --color-success: 5 150 104;
    --background-color: 255 255 255;
    --surface-1: 250 250 249;
    --surface-2: 245 245 244;
    --surface-3: 231 229 228;
    --text-color: 28 25 23;
    --discreet-text: 163 163 163;
  }

  html.dark {
    --color-primary: 251 146 60;
    --color-secondary: 20 184 166;
    --color-warn: 253 223 71;
    --color-error: 251 113 134;
    --color-info: 96 165 250;
    --color-success: 52 211 153;
    --background-color: 31 28 22;
    --surface-1: 23 22 18;
    --surface-2: 13 12 10;
    --surface-3: 10 10 10;
    --text-color: 250 250 249;
    --discreet-text: 163 163 163;
  }
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --color-primary: theme('colors.orange.400'); */
/*     --color-secondary: theme('colors.teal.300'); */
/*     --color-warn: theme('colors.yellow.300'); */
/*     --color-error: theme('colors.rose.300'); */
/*     --color-info: theme('colors.blue.300'); */
/*     --color-success: theme('colors.lime.300'); */
/*     --background-color: theme('colors.stone.900'); */
/*     --surface-1: theme('colors.stone.950'); */
/*     --surface-2: theme('colors.neutral.900'); */
/*     --surface-3: theme('colors.zinc.900'); */
/*     --text-color: theme('colors.stone.50'); */
/*     --discreet-text: theme('colors.neutral.600'); */
/*   } */
/* } */
