@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    --color-primary: 249 117 22;
    --color-secondary: 24 158 115;
    --color-warn: 234 178 8;
    --color-error: 244 63 93;
    --color-info: 59 131 246;
    --color-success: 5 150 104;
    --background-color: 255 255 255;
    --surface-1: 250 250 249;
    --surface-2: 240 240 240;
    --surface-3: 229 229 228;
    --text-color: 28 25 23;
    --discreet-text: 163 163 163;
    --sub-text: 113 113 122;
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  }

  html.dark {
    --color-primary: 251 146 60;
    --color-secondary: 20 184 166;
    --color-warn: 253 223 71;
    --color-error: 251 113 134;
    --color-info: 96 165 250;
    --color-success: 52 211 153;
    --background-color: 31 28 22;
    --surface-1: 23 22 18;
    --surface-2: 13 12 10;
    --surface-3: 10 10 10;
    --text-color: 250 250 249;
    --discreet-text: 163 163 163;
    --sub-text: 190 190 200;
  }
}
