@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;
    --color-primary: 249 117 22;
    --color-secondary: 24 158 115;
    --color-warn: 234 178 8;
    --color-error: 244 63 93;
    --color-info: 59 131 246;
    --color-success: 5 150 104;
    /* TODO: Change background color and surfaces to have a bit more contrast */
    /* --background-color: 255 255 255; */
    /* --surface-1: 250 250 249; */
    /* --surface-2: 240 240 240; */
    /* --surface-3: 229 229 228; */
    --background-color: 248 248 248;
    --surface-1: 255 255 255;
    --surface-2: 226 224 224;
    --surface-3: 180 176 176;
    --text-color: 28 25 23;
    --discreet-text: 137 134 134;
    --sub-text: 113 113 122;
    --bg-dots-transparency: 14%;
  }

  /* html, */
  /* body { */
  /*   transition: */
  /*     background-color 0.6s ease, */
  /*     color 0.6s ease; */
  /* } */

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .float-border {
    @apply ring-1 ring-black/10 dark:ring-white/10;
  }

  html.dark {
    --color-primary: 251 146 60;
    --color-secondary: 20 184 166;
    --color-warn: 253 223 71;
    --color-error: 251 113 134;
    --color-info: 96 165 250;
    --color-success: 52 211 153;
    --background-color: 18 18 18;
    --surface-1: 26 26 25;
    --surface-2: 33 33 32;
    --surface-3: 45 44 44;
    --text-color: 250 250 249;
    --discreet-text: 163 163 163;
    --sub-text: 190 190 200;
    --bg-dots-transparency: 5%;
  }

  /* .gradient { */
  /*   background: linear-gradient(130deg, #9c5ff8 40%, #fa4d88 60%); */
  /*   -webkit-background-clip: text; */
  /*   background-clip: text; */
  /*   -webkit-text-fill-color: transparent; */
  /* } */

  .body-gradient {
    /* Option 1 */
    /* background-image: radial-gradient(circle at center, */
    /*     rgb(255, 255, 255, 0.005) 0, */
    /*     rgba(255, 255, 255, 0.005) 1px, */
    /*     transparent 1px), */
    /*   linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px), */
    /*   linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px); */

    /* Option 2 */
    background-image: radial-gradient(circle at center,
        rgb(var(--surface-3) / 30%) 0,
        rgb(var(--surface-3) / 30%) 1px,
        transparent 1px);

    background-size: 20px 20px;
    /* sets the size of the grid */
    background-attachment: fixed;
    background-color: var(--background-color);
  }

  .body-gradient2 {
    background-image: radial-gradient(rgb(var(--color-primary)/ var(--bg-dots-transparency)) 1px, transparent 1px),
      radial-gradient(rgb(var(--color-primary)/ var(--bg-dots-transparency)) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position:
      0px 0px,
      10px 10px;
  }
}
