/* exit animation */
.animation {
  animation: fade-out 0.3s ease-out;
}

/* enter animation */
.animation:popover-open {
  animation: fade-in 0.3s ease-out;
}

/* backdrop animation */
.animation:popover-open::backdrop {
  animation: backdrop-fade-in 0.2s ease-out forwards;
}

/* Animation keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(90%);
  }

  40% {
    opacity: 1;
    transform: translateX(-5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }

  40% {
    opacity: 1;
    transform: translateX(-5%);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0);
  }

  100% {
    background-color: rgb(0 0 0 / 0.25);
  }
}
